BioPM/BioPM/Service References/WS_CTI/WsAppAuth2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/mojoPortal.Web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/mojoPortal.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CTIAppUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CTIAppUsers" nillable="true" type="tns:CTIAppUsers" />
</xs:schema>